@media screen and (max-width: 744px){

    .main-view{

        .container{

            .col-album{
                width: 48%;
            }
        }
    }
    

    .info-box > :nth-child(2){
        font-size: 0;

    }

    .info-box > :nth-child(2)::before{
        content: "from Liminality /...";
        font-size: 13px;
        font-weight: 800;
    }

}


@media screen and (max-width: 600px){
    aside{
        display: none;
    }

    .container{
        width: 100%;
    }

    .left-header{

        .search{

            input{
                display: none;
            }
        }
    }
}

