/*DEBUG MODE*/
.debug {

    header {
        background-color: #222222;
        height: 100px;
        padding-top: 15px;
        padding-left: 7.5px;
        padding-right: 7.5px;

        .top-header {
            background-color: red;
            height: 35px;
        }

        .bottom-header {
            background-color: orange;
            height: 35px;
        }
    }

    main {
        background-color: #222222;
        height: 690px;
        background-color: #222222;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;

        .main-view {
            display: flex;

            .container {
                background-color: yellow;
                display: flex;
                flex-wrap: wrap;
            }

            .container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding-top: 15px;
                
                > .col-album:not(:nth-last-child(-n+3)){
                    width: 230px;
                    height: 190px;
                    background-color: blueviolet;
                }
            }

            .container-sm {
                background-color: green;
                height: 637px;
                padding: 5px;

                .col-preview {
                    height: 100%;

                    .card-preview{
                        height: 100%;

                        .screen-preview {
                            background-color: pink;
                            height: 65%;                            
                        }

                        .info-box {
                            background-color: aqua;
                            height: 35%;
                        }
                    } 
                }
            }
        }
    }
}
/*END DEBUG MODE*/

/*GLOBAL RULES*/


:root{
    --bg-color-page: #222222;
    --bg-search-top: #464646;
    --color-search-top: #999898;
    --bg-search-bot: #3c3c3c;
    --bg-color-secondary: #2b2b2b;
    --text-white: #ffffff;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    body{
        height: 100vh;
        background-color: var(--bg-color-page); 
        overflow: hidden;
    }
}

a{
    text-decoration: none;
    color: initial;
}

/*END GLOBAL RULES*/

/*UTILITY*/

.container {
    width: 65%;
    height: 86.2vh;
}

.container-sm {
    width: 29%;
}

/*END UTILITY*/

/*HEADER SECTION*/

.top-header{
    padding: 7px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.left-header{
    display: flex;
    align-items: center;
    gap: 20px;

    img{
            width: 150px;
        }

    .search{
        width: 310px;
        position: relative;

        .icon{
            color: var(--color-search-top);
            position: absolute;
            top: 30%;
            left: 10px;
        }

        input{
            width: 100%;
            padding: 7px 0;
            padding-left: 40px;
            background-color: var(--bg-search-top);
            

            &::placeholder {
                font-weight: bold;
                font-size: 13px;
                color: var(--color-search-top);
            }
        }
    }    
}

.right-header{

    .account{
        display: flex;
        gap: 20px;
        
        a{
            color: var(--text-white);
        }

    }
}


.bottom-header{
    padding: 7px 30px;
    background-color: var(--bg-color-secondary);

     .search{
        width: 485px;
        position: relative;

        .icon{
            color: var(--color-search-top);
            position: absolute;
            top: 30%;
            left: 10px;
        }

        .bot-input{
            width: 100%;
            padding: 7px 0;
            padding-left: 40px;
            border-radius: 15px;
            border: 1px solid #717171;
            background-color: var(--bg-search-top);
            

            &::placeholder {
                font-weight: bold;
                font-size: 13px;
                color: var(--color-search-top);
            }
        }
    }    
}

/*END HEADER SECTION*/

/*MAIN SECTION*/

.main-view{

    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px 10px;
        padding: 20px 15px 0 30px;
        overflow-y: auto;
        overflow-x: hidden;

        .col-album{
            width: 24%;
        }
    }
}





