/*DEBUG MODE*/
.debug {

    header {
        background-color: #222222;
        height: 100px;
        padding-top: 15px;
        padding-left: 7.5px;
        padding-right: 7.5px;

        .top-header {
            background-color: red;
            height: 35px;
        }

        .bottom-header {
            background-color: orange;
            height: 35px;
        }
    }

    main {
        background-color: #222222;
        height: 690px;
        background-color: #222222;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;

        .main-view {
            display: flex;

            .container {
                background-color: yellow;
                display: flex;
                flex-wrap: wrap;
            }

            .container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding-top: 15px;
                
                > .col-album:not(:nth-last-child(-n+3)){
                    width: 230px;
                    height: 190px;
                    background-color: blueviolet;
                }
            }

            .container-sm {
                background-color: green;
                height: 637px;
                padding: 5px;

                .col-preview {
                    height: 100%;

                    .card-preview{
                        height: 100%;

                        .screen-preview {
                            background-color: pink;
                            height: 65%;                            
                        }

                        .info-box {
                            background-color: aqua;
                            height: 35%;
                        }
                    } 
                }
            }
        }
    }
}
/*END DEBUG MODE*/

/*GLOBAL RULES*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    body{
        height: 100vh;
        background-color: #222222; 
        overflow: hidden;
    }
    

}
/*END GLOBAL RULES*/

/*UTILITY*/

.container {
    width: 65%;
    height: 86.2vh;
}

.container-sm {
    width: 29%;
}

/*END UTILITY*/

/*HEADER SECTION*/
